@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/theme.css";
/* небольшая база для админки */
html, body {
  height: 100%;
}
body {
  background: var(--bg);
  color: var(--text);
}